:root {
  --bg: #0f172a;
  --text: #fff;
  --blue: #3b82f6;
}

body {
  margin: 0;
  font-family: Arial;
  background: var(--bg);
  color: var(--text);
}

html {
  scroll-behavior: smooth;
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  background: var(--bg);
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.nav-links {
  display: flex;
  gap: 15px;
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

section {
  padding: 100px 20px;
  min-height: 100vh;
}

#home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  background: var(--blue);
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
}

@media (max-width: 768px) {
  #home {
    flex-direction: column;
    text-align: center;
  }

  nav {
    flex-direction: column;
  }
}
